
<script type="text/javascript" src="script.js"></script>
<head>

</head>



<div id="page-content-wrapper" style=" padding: 70px 70px 70px 220px">
    <!-- Page Content -->

    <h1>@ViewBag.title</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Sensitivities</th>
        </tr>
        @foreach (var job in ViewBag.jobs)
        {
            <tr>
                <td>@job.FoodId</td>
                <td>@job.Name</td>
                <td>@job.CategoryName</td>
                <td>@job.SensitivityText</td>
            </tr>
        }
    </table>


    <!-- Page Content -->

</div>
<!-- /#page-content-wrapper -->